body {
  background-color: #ccc;
}

.main {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  }

.card {
  width: 400px;
  height: auto;
  border: 1px solid gray;
  background-color:#fff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(190, 188, 188);
  box-shadow: 5px 5px 10px rgb(49, 53, 51);
}

img {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(49, 53, 51);
  background-color: white;
}

.info {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 0;
  padding: 15px;
  color: rgb(1, 27, 10);
  text-shadow: 2px 2px 3px white;
}